<form class="d-flex mt-3" (submit)="onSubmit()">
  <!------------------ FORM ---------------------->

  <select
    [id]="ID_INPUT"
    class="col-4 mr-2 form-control"
    [(ngModel)]="teamSelected"
    name="teamSelected"
    required
  >
    <option [value]="team.id" *ngFor="let team of getTeams$ | async">
      {{ team.name }}
    </option>
  </select>

  <app-button
    [type]="'submit'"
    [id]="ID_BUTTONS"
    [className]="'btn btn-primary'"
    [title]="'Track team'"
  ></app-button>
</form>
<!---------------- LIST OF CARDS ------------------>
<section class="d-flex flex-wrap">
  <app-card-team
    class="col-lg-4 col-md-12 m-3"
    *ngFor="let item of listTeams"
    [team]="item"
  ></app-card-team>
</section>
